.movie-details-container {
  width: 100%;
  max-width: 65%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-details-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.movie-details-title-lg {
  text-align: left;
}

.movie-details-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.movie-poster {
  width: 100%;
  max-width: 20%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-description {
  flex: 1;
  font-size: 1rem;
  color: #4a4a4a;
}

.no-movie-selected {
  text-align: center;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-movie-selected .icon {
  font-size: 4rem;
  color: #4a90e2;
}

@media (max-width: 768px) {
  .movie-details-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  .movie-details-content {
    flex-direction: column;
  }

  .movie-poster {
    max-width: 100%;
  }
}
